body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: column;
  position: relative;
  top: 200px;
}

.result {
  width: 348px;
  height: 70px;
  border: none;
  font-size: 46px;
  margin: 2px;
  text-align: right;
  overflow: hidden;
  border: 1px solid #ccc;
}

.btn {
  width: 81px;
  height: 43px;
  border: none;
  font-size: 20px;
  margin: 2px;
  border: 1px solid #ccc;
}

.bottons {
  position: relative;
}

.operate {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 267px;
  top: 0;
}

.btn2 {
  width: 167px;
  height: 43px;
  border: 1px solid #ccc;
  background-color: orange;
  font-size: 15px;
  margin: 6px -4px;
  position: relative;
  transform: translate(185px, -50px)
}